
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h1 {
    font-size: xx-large;
    text-align: left;
}
h2 {
    font-size: large;
    text-align: left;
}
h3 {
    font-size: x-large;
    text-align: left;
}

html{
    background-color: white;
    color: black;
}

.title{
    display: block;
    width: 80%;
}
.colums{
    color: blue;
}

div{
    position: relative;
    left: 10%;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;

    width: 36%;
    border: 1px solid black;
}

