html{
    background-color: white;
    color: black;
}

body {
    font-size: 0px; /* elimina el espacio entre inline-blocks */
}

*{
    font-size: 16px;
}


.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h1 {
    font-size: xx-large;
    text-align: left;
}
h2 {
    font-size: large;
    text-align: left;
}
h3 {
    font-size: x-large;
    text-align: left;
}

.title{
    display: block;
    width: 80%;
}
.colums{
    color: black;
    display: inline-table;
    height: 50%;
    margin: 1%;
    width: 38%;  
}

div{
    position: relative;
    left: 10%;
    float: left;
}

