
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h1 {
    font-size: xx-large;
    text-align: left;
}
h2 {
    font-size: large;
    text-align: left;
}
h3 {
    font-size: x-large;
    text-align: left;
}

html{
    background-color: white;
    color: black;
}

.title{
    display: block;
    height: 50%;
    width: 81%;
}
.colums{
    display: inline-block;
    margin: 1%;
    height: 50%;
    width: 25%;
}

div{
    position: relative;
    left: 10%;

}